.con-tentang{
  margin: 0;
  padding: 0;
}
.main-tentang{
  display: absolute;
  width: 90%;
  padding: 30px;
}
.judul{
  display: flex;
}
.titik-tentang{
  margin-left: 5px;
  margin-right: 5px;
}
.map-0{
  margin: 10px;
}